.user-message {
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  width: fit-content;
}

.other-message {
  margin-bottom: 0.5rem; /* 保持与用户聊天框的间距一致 */
  word-wrap: break-word;
  word-break: break-all;
  max-width: fit-content;
}

.scrollable-div::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
  height: 8px; /* 滚动条高度 */
  display: none; /* 初始状态隐藏滚动条 */
}

.back {
  background-image: url("../img/backimg.jpg");
}

.nested-enter-active, .nested-leave-active {
	transition: all 0.2s ease-in-out;
}
/* delay leave of parent element */
.nested-leave-active {
  transition-delay: 0.15s;
}

.nested-enter-from,
.nested-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}

