.user-message {
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #f5f5dc;
}

.other-message {
  margin-bottom: 0.5rem; /* 保持与用户聊天框的间距一致 */
  word-wrap: break-word;
  word-break: break-all;
  background-color: #add8e6;
}

.scrollable-div::-webkit-scrollbar {
  width: 8px; /* 滚动条宽度 */
  height: 8px; /* 滚动条高度 */
  display: none; /* 初始状态隐藏滚动条 */
}


